.mnist {
  position: relative;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 300px;
}

.mnistCanvas {
  outline: 1px solid #000;
  width: 28px;
  height: 28px;
}

.mnistResultsNumber {
  display: inline-flex;
  padding: 4px;
  border: 1px solid #111;
  margin: 1px 6px 1px 0;
  border-radius: 2px;
  background: #eee;
  line-height: 0.8;
}

.mnistResultsRank {
  color: #555;
}
